save-exact=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
enable-pre-post-scripts=true
# 本机 shell 环境导出了 NODE_ENV=production，会导致 pnpm 跳过 devDependencies
production=false
